.preloader-1 {
    background: #111111;
    height: 100dvh;
}

.preloader-1__container {
    height: 100%;
}

.preloader-1__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-1__logo {
    flex: 0 0 104px;
    width: 104px;
    height: 104px;
    margin: 0 0 48px 0;
}

@media (max-width: 480.98px) {
    .preloader-1__logo {
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
        margin: 0 0 40px 0;
    }

    .preloader-1__logo img {
        max-width: 100%;
    }
}

.preloader-1__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: var(--Text-Txt_Sec, rgba(255, 255, 255, 0.5019607843));
    margin: 0 0 16px 0;
    animation: loadingText 1.35s ease-out 0s 5 forwards;
}

@media (max-width: 480.98px) {
    .preloader-1__text {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 8px 0;
    }
}

.preloader-1__content {
    width: 224px;
    height: 40px;
    position: relative;
}

@media (max-width: 480.98px) {
    .preloader-1__content {
        width: 180px;
        height: 32px;
    }
}

.preloader-1__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/img/preloader/preloader-1/borders.svg") center no-repeat;
    /* transition: all 0.3s; */
}

@media (max-width: 480.98px) {
    .preloader-1__border {
        background: url("../../assets/img/preloader/preloader-1/borders-small.svg") center no-repeat;
    }
}

.preloader-1__border.finished {
    filter: drop-shadow(0px 0px 8px rgba(255, 207, 35, 0.4)) drop-shadow(0px 0px 24px #FFCF23);
}

.preloader-1__steps {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 4px;
}

@media (max-width: 480.98px) {
    .preloader-1__steps {
        padding: 0 3.21px;
    }
}

.preloader-1__step {
    flex: 0 0 14px;
    width: 14px;
    height: 28px;
    margin: 0 2px;
    background: url("../../assets/img/preloader/preloader-1/middle-section.svg") center no-repeat;
    background-size: contain;
    opacity: 0;
}

@media (max-width: 480.98px) {
    .preloader-1__step {
        flex: 0 0 11.25px;
        width: 11.25px;
        height: 22.4px;
        margin: 0 1.605px;
    }
}

.preloader-1__step.active {
    opacity: 1;
}

.preloader-1__step:first-child {
    background: url("../../assets/img/preloader/preloader-1/first-section.svg") center no-repeat;
}

.preloader-1__step:last-child {
    background: url("../../assets/img/preloader/preloader-1/first-section.svg") center no-repeat;
    transform: rotateY(180deg);
}

@keyframes loadingText {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

.preloader-2 {
    background: #111111;
    height: 100dvh;
}

.preloader-2__container {
    height: 100%;
}

.preloader-2__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-2__logo {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    position: relative;
}

@media (max-width: 480.98px) {
    .preloader-2__logo {
        flex: 0 0 60px;
        width: 60px;
        height: 60px;
    }
}

.preloader-2__logo img {
    max-width: 100%;
}

.preloader-2__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-2__circle {
    position: absolute;
    border-radius: 50%;
}

.preloader-2__circle_1 {
    background: #520A5E;
    flex: 0 0 288px;
    width: 288px;
    height: 288px;
    animation: scaleCircle 1.25s ease-in-out 0.15s infinite;
}

@media (max-width: 480.98px) {
    .preloader-2__circle_1 {
        flex: 0 0 180px;
        width: 180px;
        height: 180px;
    }
}

.preloader-2__circle_2 {
    background: #7A0784;
    flex: 0 0 240px;
    width: 240px;
    height: 240px;
    animation: scaleCircle 1.25s ease-in-out 0.075s infinite;
}

@media (max-width: 480.98px) {
    .preloader-2__circle_2 {
        flex: 0 0 150px;
        width: 150px;
        height: 150px;
    }
}

.preloader-2__circle_3 {
    background: linear-gradient(135deg, #D1007E 0%, #6B83FF 100%);
    flex: 0 0 192px;
    width: 192px;
    height: 192px;
    animation: scaleCircle 1.25s ease-in-out 0s infinite;
}

@media (max-width: 480.98px) {
    .preloader-2__circle_3 {
        flex: 0 0 120px;
        width: 120px;
        height: 120px;
    }
}

@keyframes scaleCircle {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.15);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

.preloader-3 {
    background: #111111;
    height: 100dvh;
}

.preloader-3__container {
    height: 100%;
}

.preloader-3__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-3__logo {
    flex: 0 0 82px;
    width: 82px;
    height: 82px;
    position: relative;
}

@media (max-width: 480.98px) {
    .preloader-3__logo {
        flex: 0 0 56.77px;
        width: 56.77px;
        height: 56.77px;
    }
}

.preloader-3__logo img {
    max-width: 100%;
}

.preloader-3__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preloader-3__circle {
    position: absolute;
    flex: 0 0 164px;
    width: 164px;
    height: 164px;
    border-radius: 50%;
    background: linear-gradient(135deg, #DE0000 0%, #DA00D1 100%);
    animation: scale2Circle 5s ease-in-out 0s infinite;
}

@media (max-width: 480.98px) {
    .preloader-3__circle {
        flex: 0 0 113.54px;
        width: 113.54px;
        height: 113.54px;
    }
}

.preloader-3__circle-small {
    position: absolute;
    flex: 0 0 212px;
    width: 212px;
    height: 212px;
    background: url("../../assets/img/preloader/preloader-3/small-circle.svg") top no-repeat;
    background-size: contain;
    animation: rotateCircleSmall 5s linear 0s infinite;
}

@media (max-width: 480.98px) {
    .preloader-3__circle-small {
        flex: 0 0 146.77px;
        width: 146.77px;
        height: 146.77px;
    }
}

.preloader-3__circle-big {
    position: absolute;
    flex: 0 0 260px;
    width: 260px;
    height: 260px;
    background: url("../../assets/img/preloader/preloader-3/big-circle.svg") bottom no-repeat;
    background-size: contain;
    animation: rotateCircleBig 3s linear 0s infinite;
}

@media (max-width: 480.98px) {
    .preloader-3__circle-big {
        flex: 0 0 180px;
        width: 180px;
        height: 180px;
    }
}

@keyframes scale2Circle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotateCircleSmall {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes rotateCircleBig {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}