.loader-body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;

  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}

.lds-spinner {
  color: currentColor;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 4px;
  height: 13px;
  border-radius: 20%;
  background: #FFCF23;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loader-body-logo{
  display: flex;
  flex-direction: column;
 align-items: center;

}
.loader-body-logo-img{
  width: 80px;
  height: 80px;
}

.loader-body-logo-load{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 8px;
}

.loader-body-progres{
  width: 180px;
  height: 32px; 
  position: relative;
  overflow: hidden;
}

.loader-body-svg {
  position: relative;
  z-index: 3;
  overflow: hidden;

}

.loader-body-svg-1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 11px;
  height: 10.5px;
  background: #111;
}

.loader-body-svg-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 11px;
  height: 10.5px;
  ;
  background: #111;

}

.loader-body-svg-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 11px;
  height: 10.5px;
  background: #111;
}

.loader-body-svg-4 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 11px;
  height: 10.5px;
  background: #111;

}



.progress-4 {
  position: absolute;
  left: 5.5px;
  top: 5px;
  width: 183px;
  height: 22px;
  -webkit-mask: linear-gradient(90deg, #000 80%, #0000 80%) 0/7.8%;
  background:
    linear-gradient(to bottom, #FFCF23 50%, #F96B2F 50%) 0/0% no-repeat #111;
  animation: p4 1.5s infinite steps(13);
}

@keyframes p4 {
  100% {
    background-size: 100%
  }
}

@media (min-width: 650.98px) {
  .loader-body-progres{
    width: 224px;
    height: 40px; 
  }
  .loader-body-svg  {
    width: 224px;
    height: 40px;
    overflow: hidden;
  }
  .loader-body-svg svg {
    width: 224px;
    height: 40px;
  }
  .progress-4{
    width: 231px;
    height: 30px;
  }
  .loader-body-svg-4, 
  .loader-body-svg-1,
  .loader-body-svg-3, 
  .loader-body-svg-2 {
    width: 12px;
    height: 12px;
  }
  .loader-body-logo-img{
    width: 98px;
    height: 98px;
  }
  .loader-body-logo-load{
    padding-top: 48px;
    padding-bottom: 18px;
  }
}

